<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/site.js" type="text/javascript"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/site.css">

    <title></title>
</head>
<body>

    <div id="wrap">

        <header class="navbar navbar-bright navbar-fixed-top" role="banner" data-spy="affix" data-offset-top="80">
          <div class="container">
            <div class="navbar-header">
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" id="brand" href="http://" title="Platinum Analytics">Platinum<span style="color:#f9f9f9;font-weight:200;"> Analytics</span></a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation" id="navbar">
                <!--<ul class="nav navbar-nav">-->
                    <!--<li>-->
                      <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Free Templates <span class="caret"></span></a>-->
                      <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="/templates/starter">Starter Templates</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li class="dropdown-header">More Templates</li>-->
                        <!--<li><a href="/bootstrap-template/sidebar">Sidebar</a></li>-->
                      <!--</ul>-->
                    <!--</li>-->
                <!--</ul>-->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://bootstrapbay.com/?ref=skelly" rel="nofollow" target="ext">Premium</a></li>
                    <li><a href="#footer" id="btnAbout">About</a></li>
                </ul>
            </nav>
          </div>
        </header>
        <div style="height:62px;background-color:#32383e;"></div>

    <!-- Body Content -->
    {% block content %}
    {% endblock content %}

    </div>

    <footer id="footer">
      <div class="container" role="contentinfo">
        <div class="row">
          <div class="col-sm-12">
          	<div class="row">
              <div class="col-md-12">
                <a href="http://bootstrapbay.com/?ref=skelly" rel="nofollow" target="ext" class="pull-right">More Bootstrap Themes</a>
                <ul class="list-inline">
              	<li><a href="https://github.com/iatek/bootstrap-zero" title="The Bootstrap Templates and Themes Project" rel="nofollow">GitHub Project</a></li>
              	<li><a href="https://plus.google.com/s/BootstrapZero" title="BootstrapZero on Google Plus" target="ext" rel="publisher">Google+</a></li>
              	<li><a href="https://twitter.com/BootstrapZero" class="twitter-follow-button" data-show-count="true" data-lang="en">@BootstrapZero</a></li>
              	<li><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-show-count="true" data-url="http://bootstrapzero.com" data-related="BootstrapZero" data-text="@BootstrapZero: Incredible free templates and themes for Bootstrap 3">BootstrapZero</a></li>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </ul>
              </div>
           	</div>
            <div class="row">
              <div class="col-md-4">
              	<ul class="list-unstyled">
                  <li><a href="http://getbootstrap.com" title="Official Bootstrap Site" rel="nofollow">Bootstrap</a></li>
                  <li><a href="http://www.bootbundle.com" title="Download free Bootstrap themes, templates and snippets" rel="nofollow" target="ext">BootBundle</a></li>
                  <li><a href="http://bootstrapbay.com/?ref=skelly" rel="nofollow" target="ext">BootstrapBay</a></li>
                  <li><a href="http://www.bootply.com" title="Bootstrap Editor and playground" rel="nofollow" target="ext">Bootply</a></li>
                </ul>
              </div>
              <div class="col-md-4">
              	<ul class="list-unstyled">
                  <li><a href="http://www.templatestash.com" title="Handpicked responsive templates and themes" rel="nofollow">Template Stash</a></li>
                  <li><a href="http://codeply.com" title="Responsive design editor" rel="nofollow">Codeply</a></li>
                  <li><a href="http://www.reddit.com/r/responsive_snippets/" rel="nofollow">RWD Snippets</a></li>
                  <li><a href="https://wrapbootstrap.com/?ref=bootply" rel="nofollow">Bootstrap Themes</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <!--
              	<ul class="list-unstyled">
                  <li><a href="http://wixstats.com/?a=828&c=124&s1=" title="Fast and free. Build your site now." rel="nofollow" target="ext">Free Website Builder</a></li>
                  <li><a href="https://www.digitalocean.com/?refcode=7d2bb04735e4" title="Simple cloud hosting, built for developers" rel="nofollow" target="ext">Hosting for Developers</a></li>
                  <li><a href="http://www.tkqlhce.com/click-94658-11841480-1429203975000" title="Create a responsive website with Duda" rel="nofollow" target="ext">Make a Mobile Website</a></li>
                  <li><a href="https://mythemeshop.com/?ref=carol958" title="Download free Bootstrap themes, templates and snippets" rel="nofollow" target="ext">WordPress Themes</a></li>
                </ul> -->
              </div>
            </div>
          </div>
        </div><!--/row-->
</body>
</html>1